<!-- <p>paciente-form works!</p> -->
<!-- <p>medico-form works!</p> -->
<form (ngSubmit)="save()" action="">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>Nome</label>
        <input type="text" id="nome" class="form-control" required [(ngModel)]="paciente.nome" name="nome"
          #nome="ngModel" placeholder="Nome Completo">
      </div>
      <!-- <div class="col">
        <label>Especialidade</label>
        <select>
          <option *ngFor="let planodesaude of keys(planosdesaude)" [ngValue]="planosdesaude[planodesaude]">{{planodesaude}}</option>
        </select>
      </div> -->
    </div>

    <!-- <app-dropdown [medico]="medico"></app-dropdown> -->

    <button type="submit" [disabled]="nome.invalid" class="btn btn-light">
      <fa-icon [icon]="faSave"></fa-icon> Salvar pacientes
    </button>

  </div>
</form>


