<div> Detalhamento dos remédios da consulta: <b> {{consulta.id}} </b> </div>


<div *ngFor="let remedio of consulta.remedios">
  {{remedio.id}} - {{remedio.nome}}
  <button class="btn btn-light" (click)="excluir(remedio)">
    Excluir
  </button>
</div>

<app-consulta-remedio-form></app-consulta-remedio-form>


<button type="button" (click)="pills(consulta.id)"class="btn btn-light">
  Adicionar
</button>

<button type="button" (click)="back()"class="btn btn-light">
  <fa-icon [icon]=faArrowCircleLeft></fa-icon>
</button>
