<!-- <router-outlet></router-outlet> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <fa-icon [icon]="faUsers"></fa-icon>
  </a>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


    <!-- Medicos -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Médicos
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/medicos/medico-form">Formulário</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/medicos">Listagem</a>
      </div>
    </li>
      <!-- Pacientes -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pacientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/pacientes/paciente-form">Formulário</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/pacientes">Listagem</a>
        </div>
      </li>
      <!-- Remedios -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Remedios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/remedios/remedio-form">Formulário</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/remedios">Listagem</a>
        </div>


      <!-- Consultas -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Consultas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/consultas/consulta-form">Formulário</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/consultas">Listagem</a>
        </div>





    </ul>
  </div>
</nav>

<div class="container-fluid">
  <!-- <router-outlet></router-outlet> -->
</div>


<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
      <a class="link-dark" href="https://github.com/henitz/curso" target="_blank">
        <!-- <fa-icon [icon]="faCodeBranch"></fa-icon> -->
      </a>
      <div class="text-muted">v2.1.0</div>
    </div>
  </div>
</footer>

