<!-- <p>remedio-list works!</p> -->
<!-- <div *ngFor="let produto of produtos">{{produto.descricao}}</div> -->
<button (click)="form()" class="btn btn-light btn">
  <fa-icon [icon]=faPlusSquare></fa-icon>
  Adicionar Remédio
</button>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>Id</th>
          <th>Nome</th>

        </thead>
        <tbody>
            <tr  *ngFor="let remedio of remedios">
              <td>{{remedio.id}}</td>
              <td>{{remedio.nome}}</td>
              <!-- <td>{{medico.especialidade}}</td> -->

              <td style="white-space: nowrap;">
                <button class="btn btn-light" (click)="prepararExibir(remedio)" data-toggle="modal"
                  data-target="#modalExibir">
                  <fa-icon [icon]="faEye"></fa-icon>
                </button>
              </td>

              <td style="white-space: nowrap;">
                <button class="btn btn-light" (click)="preparaDelete(remedio)" data-toggle="modal"
                  data-target="#modalDelecao">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </td>

              <td style="white-space: nowrap;">
                <button class="btn btn-light" (click)="alterar(remedio.id)">
                  <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
              </td>



            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="modalDelecao" class="modal fase" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirmação</h4>
      </div>
      <div class="modal-body">
        <h5>Tem certeza que deseja deletar?</h5>
        <h6>Produtos: <span class="badge badge-secondary">{{remedioSelecionadoDelete.nome}}</span></h6>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="delete()" data-dismiss="modal">Confirmar</button>
        <button class="btn btn-info" data-dismiss="modal">Cancela</button>
      </div>
    </div>
  </div>
</div>


<div id="modalExibir" class="modal fase" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirmação</h4>
      </div>
      <div class="modal-body">
        <h5>Tem certeza que deseja Exibir?</h5>
        <h6>Produto: <span class="badge badge-secondary">{{remedioSelecionadoExibir.nome}}</span></h6>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="exibir()" data-dismiss="modal">Confirmar</button>
        <button class="btn btn-info" data-dismiss="modal">Cancela</button>
      </div>
    </div>
  </div>
</div>
