<!-- <p>consulta-one works!</p> -->
<div>
  <h6>Id: <span class="badge badge-secondary">{{consulta.id}}</span></h6>
  <h3>Data: <span class="badge badge-secondary">{{consulta.data}}</span></h3>
  <h3>Médico: <span class="badge badge-secondary">{{consulta.medico.nome}}</span></h3>
  <h3>Especialidade: <span class="badge badge-secondary">{{consulta.medico.especialidade}}</span></h3>
  <h3>Paciente: <span class="badge badge-secondary">{{consulta.paciente.nome}}</span></h3>
  <!-- <h3>Plano de Saúde: <span class="badge badge-secondary">{{consulta.paciente.planodesaude}}</span></h3> -->



</div>
<button type="button" (click)="back()"class="btn btn-light">
  <fa-icon [icon]=faArrowCircleLeft></fa-icon>
</button>

















